<?xml version="1.0"?>
<config>
    <modules>
        <RMO_Integrator>
            <version>1.0.0</version>
        </RMO_Integrator>
    </modules>
    <global>
        <models>
            <rmointegrator>
                <class>RMO_Integrator_Model</class>
                <resourceModel>rmointegrator_resource</resourceModel>
            </rmointegrator>
            <rmointegrator_resource>
                <class>RMO_Integrator_Model_Resource</class>
                 <entities>
                    <catalog_product_integrator>
                        <table>integrator_product</table>
                    </catalog_product_integrator>
                 </entities>
            </rmointegrator_resource>
        </models>
        <resources>
            <rmointegrator_setup>
                <setup>
                    <module>RMO_Integrator</module>
                    <class>RMO_Integrator_Model_Resource_Setup</class>
                </setup>
            </rmointegrator_setup>
        </resources>
        <helpers>
            <rmointegrator>
                <class>RMO_Integrator_Helper</class>
            </rmointegrator>
        </helpers>
        <events>
            <catalog_product_save_before>
               <observers>
                   <rmointegrator>
                       <type>singleton</type>
                       <class>rmointegrator/catalog_product_observer</class>
                       <method>catalog_product_save_before</method>
                   </rmointegrator>
               </observers>
           </catalog_product_save_before>
           <catalog_product_save_after>
               <observers>
                   <rmointegrator>
                       <type>singleton</type>
                       <class>rmointegrator/catalog_product_observer</class>
                       <method>catalog_product_save_after</method>
                   </rmointegrator>
               </observers>
           </catalog_product_save_after>
           <catalog_product_delete_after>
               <observers>
                   <rmointegrator>
                       <type>singleton</type>
                       <class>rmointegrator/catalog_product_observer</class>
                       <method>catalog_product_delete_after</method>
                   </rmointegrator>
               </observers>
           </catalog_product_delete_after>
        </events>
    </global>
    <frontend>
    <routers>
        <rmointegrator>
            <use>standard</use>
            <args>
                <module>RMO_Integrator</module>
                <frontName>integrator</frontName>
            </args>
        </rmointegrator>
    </routers>
</frontend>   
</config>